*
{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.navigation
{
    width: 100%;
    height:100px;
}
.calender
{
    position:relative;
    float:left;
    margin-left:0px;
    margin-top:20px;
    border:2px silver;
}
.maintainance
{

    position:relative;
    width:800px;
    height: 400px;
    float:left;
    margin-left:-650px;
    margin-top:20px;
    border:2px black;
}
.maintainance h3
{
    padding:15px;
}
.right-header1 h5
{
    position:relative;
    margin-right:40px;
    float:right;
    margin-right:350px;
    margin-top:-50px;
    text-decoration:underline;
}
.right-header h5
{
    position:relative;
    margin-right:40px;
    float:right;
    margin-right:150px;
    margin-top:-50px;
}
.plus h5
{   position:relative;
    font-size: 20px;
    margin-top:-50px;
    padding:0 5px;
    font-weight: 900;
}
.circle
{
    width:250px;
    height:250px;
    margin-top:45px;
    padding:10px;
    margin-left:20px;
    border:1px solid black;
    justify-content: center;
    align-items: center;
    border-radius:50%;
}
.word
{
    margin-top:40px;
}
.small-circle
{
    float:right;
    margin-right:380px;
    width:20px;
    background-color:rgb(201, 105, 105);
    height:20px;
    margin-top:-280px;
    padding:10px;
    margin-left:20px;
    border:1px solid black;
    justify-content: center;
    align-items: center;
    border-radius:50%;
}
.word-small
{
    float:right;
    margin-right:300px;
    margin-top:-280px;
}
.small-circle2
{
    float:right;
    margin-right:380px;
    width:20px;
    background-color:rgb(105, 147, 201);
    height:20px;
    margin-top:-250px;
    padding:10px;
    margin-left:20px;
    border:1px solid black;
    justify-content: center;
    align-items: center;
    border-radius:50%;
}
.word-small2
{
    float:right;
    margin-right:300px;
    margin-top:-250px;
}
.notification
{
    width:520px;
    height:400px;
    position:relative;
    margin-top:20px;
    float:left;
    margin-left:80px;
    justify-content: center;
    align-items: center;
}
.clock
{
    width:150px;
    height:250px;
    margin-top:40px;
    margin-left:5px;
    text-align:center;
}
.clock2
{
    width:150px;
    height:250px;
    float:right;
    margin-top:-250px;
    margin-right:181px;
    margin-left:5px;
    text-align:center;
}
.clock3
{
    width:150px;
    height:250px;
    float:right;
    margin-top:-250px;
    margin-left:5px;
    text-align:center;
}
hr
{
    width:100%;
    text-align:center;
    margin-top:-20px;
}
.graph
{
    width:1280px;
    height:400px;
    float:left;
    margin-top:450px;
    margin-left:-1880px;
}
.last
{
    width:520px;
    height:200px;
    float:left;
    margin-left:1375px;
    margin-top:80px;
    
}

.last .icon{
    padding:15px;
}
.last .icon p
{
    font-size:30px;
    text-transform: uppercase;
}